.TodoList{
    min-height: 320px;
    max-height: 513px;
    overflow-y: auto;
    &::-webkit-scrollbar{
        width:10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #2f3542;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track{
        background-color:gray;
        border-radius: 5px;
        box-shadow: inset 0px 0px 5px white;
    }
}